In [4]:
import psycopg2


connection = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='hello123',
    host='apprentice-training-2023-rds.cth7tqaptja4.us-west-1.rds.amazonaws.com',
    port='5432'
)

In [5]:
# creating the table into both local and server database
create_table_query = """
CREATE TABLE Suzan_player_info (
    player_id INT PRIMARY KEY,
    full_name VARCHAR(100),
    position VARCHAR(50),
    team VARCHAR(100),
    city VARCHAR(50),
    height_feet INT,
    height_inches INT,
    weight_pounds FLOAT
);

"""

cursor = connection.cursor()

# Execute the query to create the table
cursor.execute(create_table_query)
connection.commit()
print("Table created successfully")

Table created successfully